/* Comon css */

html {
    /* font-style: 16px; */
    /* margin-bottom: 500px; */
}

p {
    font-size: 16px;
}


/*  User cards */

.user-section {
    background-color: #f6f6f6;
}

.u-card {
    text-align: center;
    color: #999999;
    border-bottom: 1px solid tomato;
    border-bottom-color: inherit;
    padding: 2rem 0;
}

.u-card__img {
    display: inline-block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 8px;
    border: 1px solid #c1c1c1;
    margin-bottom: 1.5rem;
}

.u-card__title {
    font-weight: normal;
    font-style: 1.4rem;
}


/* Download */

.download .down-card {
    /* grid-template-columns: 1fr; */
}

.down-btn {
    display: flex;
    /* grid-template-columns: 1fr; */
    flex-direction: column;
    grid-gap: 15px;
    width: 100vh;
    /* margin-right: 0; */
    /* width: 100%; */
    /* align-items: center; */
}

.down-btn button {
    /* padding: 20px;
    width: 350px; */
    margin: 0 auto;
}

.down-btn button:nth-child(1) {
    background-color: blue;
    color: white;
    /* flex-basis: 30%; */
}

.down-btn button:nth-child(2) {
    background-color: transparent;
    color: #828282;
}


/* Media */

@media screen and (min-width: 650px) {
    .user-section {
        padding: 0 6%;
    }
    .u-card {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 30% auto;
        text-align: left;
    }
    .u-card--rtl {
        text-align: right;
        grid-template-columns: auto 30%;
    }
    .u-card--rtl .u-card__img {
        grid-column: 2 / span 1;
        /* direction: rtl; */
        /* text-align: right; */
    }
    .u-card--rtl .u-card__title {
        grid-row: 1;
    }
    .u-card__img {
        width: 100%;
        aspect-ratio: 1;
        height: initial;
        grid-row: span 2;
    }
    .u-card__title {
        align-self: flex-end;
    }
    .download .down-btn {
        /* width: 200px; */
    }
}